<p style="color: green"><%= notice %></p>

<div>
  <h1><%= @programming_language.name %></h1>
  <p><%= @programming_language.description %></p>
</div>

<div>
  <%= link_to "Edit this programming language", edit_programming_language_path(@programming_language) %> |
  <%= link_to "Back to programming languages", programming_languages_path %>

  <%= button_to "Delete this programming language", @programming_language, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
